{% extends 'base.html' %}
{% load static %}
{% block content %}
    {% include 'nav_bar.html' %}
    <a class="btn px-md-3 btn-dark" data-role="button" href="{% url 'products:new_product' %}">Add new product</a>
    &nbsp;&nbsp;&nbsp;
    <table class="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">Product_id</th>
            <th scope="col">Title</th>
            <th scope="col">Product</th>
            <th scope="col">Image</th>
{#            <th scope="col">Detail</th>#}
        </tr>
        </thead>
        <tbody>
        {% for product in object_list %}
            <tr>
                <th scope="row">{{ product.id }}</th>
                <td><a href="{% url 'products:product_detail' pk=product.id %}">{{ product.title }}</a></td>
                <td>{{ product.type }}</td>
                {#      <td><a href="{{ product.image.url }}">{{ product.image }}</a></td>#}
                <td><img src="{{ product.image.url }}" width="100" height="100"/></td>
{#                <td></td>   #}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a class="btn px-md-3 btn-dark" data-role="button" href="?page=1">&laquo; first</a>
            <a class="btn px-md-3 btn-dark" data-role="button"
               href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a class="btn px-md-3 btn-dark" data-role="button" href="?page={{ page_obj.next_page_number }}">next</a>
            <a class="btn px-md-3 btn-dark" data-role="button" href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
    </div>
    <!--    </html>-->
{% endblock %}
